@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.text-faded {
  opacity: 0.85; /* Slightly faded */
  text-shadow: 0px 0px 10px rgba(0, 255, 0, 0.7); /* Glowing effect */
}

html {
  scroll-behavior: smooth;
}

/*!* Utilities *!*/
/*@layer utilities {*/
/*  .text-balance {*/
/*    text-wrap: balance;*/
/*  }*/
/*}*/

/* Navbar Link Styles */
.nav-link {
  color: #000000; /* Midnight black */
  text-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

.nav-link:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

/* Active Link Styles */
.active-link {
  color: #000000;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1);
  animation: nudge-down 0.3s forwards;
}

@keyframes nudge-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(5px);
  }
}

/* Windows 95/98 Styles */
.windows95 {
  border: 2px solid #000;
  box-shadow: inset -2px -2px #fff, inset 2px 2px #aaa;
}

.windows95 .title-bar {
  background: linear-gradient(to bottom, #0a0a17 0%, #15151c 100%);
  color: #fff;
  border: 2px solid #000;
  box-shadow: inset -2px -2px #fff, inset 2px 2px #aaa;
  padding: 4px;
  font-weight: bold;
}

.windows95 .title-bar button {
  width: 16px;
  height: 16px;
  background-color: #c0c0c0;
  border: 1px solid #fff;
  box-shadow: inset -1px -1px #000, inset 1px 1px #fff;
}

.windows95 .title-bar button:hover {
  background-color: #f0f0f0;
}

.windows95 .content {
  background-color: #c0c0c0;
  padding: 8px;
}
